.right .operate {
  padding-top: 6vh;
  padding-left: 10%;
}
.right .operate .row1 {
  width: 90%;
  height: 35vh;
  text-align: center;
  overflow-y: auto;
}
.right .operate .row1::-webkit-scrollbar {
  width: 0.6524vw;
}
.right .operate .row1::-webkit-scrollbar-thumb {
  background: #e7e7e7;
  border-radius: 1vh;
}
.right .operate .btns {
  width: 90%;
  height: 10vh;
  margin-top: 14vh;
}
.right .operate .btns .b {
  width: 20%;
  height: 8vh;
  border: none;
  background-color: #538135;
  margin-left: 40%;
  margin-top: 1vh;
  border-radius: 2vw;
}
