.right .operate {
  padding-top: 15vh;
  padding-left: 20%;
}
.right .operate .row1 {
  width: 80%;
  height: 20vh;
  text-align: center;
}
.right .operate .btns {
  width: 90%;
  height: 20vh;
  margin-top: 8vh;
}
.right .operate .btns .btn_cx {
  width: 24%;
  height: 8vh;
  border: none;
  background-color: #538135;
  margin-top: 10vh;
  border-radius: 2vw;
  margin-left: 30%;
}
